/* Quiz.module.css */
.achtergrond {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.container {
  width: 100%;
  height: 100%;
  align-content: center; /* Verticaal centreren */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.small_text {
  font-family: 'Nohemi Bold';
  font-size: 24px;
  padding-bottom: 40px;
  text-transform: lowercase;
  color: black;
  text-align: center;
}

.big_text {
  font-family: 'Nohemi Bold';
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: black;
  text-align: left;

}




.answersContainer { /* Optioneel: ruimte tussen de elementen */
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.item {
  display: flex;
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
  background-color: white;  /* Voorbeeld achtergrondkleur */
  padding-left: 16px;
  padding-right: 16px;
  border: 3px solid #000;  /* Voorbeeld rand */
  border-radius: 12px;
  color: black;
  text-align: center;
  font-family: 'Nohemi regular';
  text-transform: lowercase;
  min-height: 80px;
  width: 100%;
}

/* If a correct answer is selected, highlight that answer in green */
.correctAnswer {
  background-color: #0ED973;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding-left: 16px;
  padding-right: 16px;
  height: 60px;
  border-radius: 38.5px;
  font-family: 'Nohemi Bold';
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  align-self: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
